# Logs
logs
*.log

# Dependencias
/node_modules
/.pnp
.pnp.js

# Construcción de archivos
/dist
/build
/.cache
/public/bundle.js
package-lock.json

# Archivos de configuración local
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Otras configuraciones
.DS_Store
Thumbs.db
*.swp
*.lock
*.bak